%h1 Posts

- @posts.each do |post|
  %article
    %h2= post.title


    %header
      %h3 Tagged as
      %ul
        - post.tags.each do |tag|
          %li= tag.name

    .body
      = post.body

    %h3 leave a comment

    = link_to "new comment"

    %footer
      %a{href: edit_post_path(post)} Edit
      = link_to "Delete", post_path(post), method: :delete

%a{href: new_post_path} New Post

